.page {
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    transition: opacity 0.5s ease-in-out;
}

.page-enter{
    opacity:0;
    z-index: 5;
    transition: opacity 0.5s ease-in-out;
}

.page-enter-active{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.page-exist-active{
    opacity: 0;
    z-index: -1;
    transition: opacity 0.5s ease-in-out;
}

.page-exist{
    opacity: 1;
    z-index: -1;
}